/* Color Palette */
:root {
    --dark-blue: #003049;
    --grey-blue: #2A5065;
    --darker-blue: #002436;
    --soft-blue: #669BBC;
    --ash-grey: #B5BFA1;
    --light-swamp-green: #B5BFA1;
    --dark-swamp-green: #6E9887;
    font-family: "Clarkson", Helvetica, sans-serif;
    color: white;
    background-color: black;
}

/* Zero out all margins and styling */
HTML,
body,
ul,
h1,
h2,
h3,
p {
    margin: 0px;
    padding: 0px;
    border: 0px;
    list-style: none;
}

/* Navigation Bar Styling */
.quick-links,
.social-links,
nav {
    display: flex;
}

nav {
    justify-content: space-between;
    padding: 10px;
    background-color: var(--dark-blue);

    /* allow nav to follow user */
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    z-index: 1000;
}

.navbar-button-images {
    width: 40px;
    height: fit-content;
}

#long-nav-item {
    justify-content: center;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 10px;
    font-size: 18px;
    border-radius: 7px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-text:link,
.nav-text:visited {
    text-decoration: none;
    color: white;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    padding: 90px;
    color: white;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Two Main Sections: 1. About Me & 2. Resume */
.about-me-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;

    letter-spacing: 2px;
    line-height: 2;
    text-align: center;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 90px;
    margin-bottom: 50px;

    border-radius: 5px;

    background-image: url(./images/bay-area-image.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.about-me-description {
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.about-me-h1 {
    padding-top: 50px;
    font-size: 100px;
    letter-spacing: 1px;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

main {
    background-color: var(--darker-blue);
}

.resume-section {
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
}

.all-resume-sections {
    align-items: center;
}

section {
    align-items: center;
    letter-spacing: 1px;
    line-height: 1.6;
}

.view-project-button {
    background-color: var(--soft-blue);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;

    border-radius: 30px;
}

.view-project-button:hover {
    /* lighter #669BBC */
    background-color: rgba(102, 155, 188, 0.5);
}

.view-project-button:link,
.view-project-button:visited {
    text-decoration: none;
    color: white;
}

.section-title {
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
}

.title-screen-title {
    padding-top: 400px;
}

.bubble-list-section-title {
    padding-top: 150px;
    margin-top: 250px;
}

.section-item {
    padding-top: 250px;
    padding-bottom: 250px;

}

.section-paragraph {
    padding: 10px;
}

.bottom-paragraph {
    margin-bottom: 30px;
}

.section-item-title {
    padding-bottom: 10px;
    font-size: 35px;
    letter-spacing: 2px;
}

.subtitle-extra-info {
    padding-bottom: 10px;
}

.section-text-section {
    text-align: start;
    max-width: 600px;
}

hr {
    margin-top: 20px;
    margin-bottom: 150px;
}

.bubble-section-hr {
    margin-bottom: 40px;
}

.bubble-items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills {
    padding-bottom: 200px;
}

.bubble-item {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 20px;
    background-color: var(--soft-blue);
    border-radius: 100px;

    /* Hover and enlarge feature */
    transition: transform 0.3s, font-size 0.3s;
}

/* Hover and enlarge feature */
.bubble-item:hover {
    transform: scale(1.3);
}

#quicken-logo-image {
    width: 150px;
    height: fit-content;
}

.work-experience-address {
    margin-top: 10px;
    margin-bottom: 10px;
}

#stedwards-oit-combined-logo {
    display: flex;
}

#stedwards-left-logo {
    margin-right: -5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#stedwards-right-logo {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.stedwards-combined-image {
    height: 50px;
    width: auto;
}

.date-bubble {
    display: flex;
    align-items: center;
}

.connecting-date-line {
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 10px;
    margin-right: 10px;
    height: 10px;

    border-radius: 10px;
    background-color: whitesmoke;
}

.month-paragraph {
    font-size: 20px;
    color: white;
    background-color: var(--grey-blue);
    width: 80px;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
}

.year-paragraph {
    font-size: 20px;
    margin-top: 22px;
    margin-left: -15px;
    padding-left: 2px;
    padding-right: 2px;

    color: black;
    background-color: var(--soft-blue);
    border-radius: 10px;
}

.bullet-point-list {
    list-style: circle;
    margin-left: 20px;
}

.list-margin-bottom {
    margin-bottom: 20px;
}

.section-paragraph-light-padding {
    padding: 5px;
}

.section-title-no-padding {
    padding: 0;
}

.date-paragraph {
    margin-bottom: 10px;
}

.image-and-text-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parallax-element {
    position: fixed;
}

/* Parallax Elements */
/* list of all images to keep track of */
/*
.caffeine-tracker-video
.quicken-interface-feature-video
.food-truck-form-video
.software-developer-accompanying-image
.av-associate-accompanying-image
.st-edwards-university-accompanying-image
*/

.caffeine-tracker-video {
    border-radius: 10px;
    width: fit-content;
    height: 439px;
}

.quicken-interface-feature-video {
    border-radius: 10px;
    width: fit-content;
    height: 363px;
}

.food-truck-form-video {
    border-radius: 10px;
    width: fit-content;
    height: 270px;
}

.software-developer-accompanying-image {
    border-radius: 10px;
    width: fit-content;
    height: 400px;
}

.av-associate-accompanying-image {
    border-radius: 10px;
    width: fit-content;
    height: 350px;
}

.st-edwards-university-accompanying-image {
    border-radius: 10px;
    width: fit-content;
    height: 100px;
}

/* Slide in animation CSS */
.animation-hidden {
    opacity: 0;
    transition: all 1s;
}

.animation-shown {
    opacity: 1;
}