/* Color Palette */
:root {
    --dark-red: #780000;
    --bright-red: #C1121F;
    --light-cream: #FDF0D5;
    --dark-blue: #003049;
    --darker-blue: #002436;
    --soft-blue: #669BBC;
    font-family: "Clarkson", Helvetica, sans-serif;
    color: white;
    background-color: black;
}

/* Zero out all margins and styling */
HTML,
body,
ul,
h1,
h2,
h3,
p {
    margin: 0px;
    padding: 0px;
    border: 0px;
    list-style: none;
}

/* Navigation Bar Styling */
.quick-links,
.social-links,
nav {
    display: flex;
}

nav {
    justify-content: space-between;
    padding: 10px;
    background-color: var(--dark-blue);
}

#long-nav-item {
    justify-content: center;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 10px;
    font-size: 18px;
    border-radius: 7px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-text:link,
.nav-text:visited {
    text-decoration: none;
    color: white;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    padding: 90px;
    color: white;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Two Main Sections: 1. About Me & 2. Resume */
.about-me-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;

    letter-spacing: 2px;
    line-height: 2;
    text-align: center;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 50px;

    border-radius: 5px;

    background-image: url(./images/bay-area-image.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.about-me-description {
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.about-me-h1 {
    padding-top: 50px;
    font-size: 100px;
    letter-spacing: 1px;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

main {
    background-color: var(--darker-blue);
}

.resume-section {
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
}

.all-resume-sections {
    align-items: center;
}

section {
    align-items: center;
    letter-spacing: 1px;
    line-height: 1.6;
}

.view-project-button {
    background-color: var(--soft-blue);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;

    border-radius: 30px;
}

.view-project-button:hover {
    /* lighter #669BBC */
    background-color: rgba(102, 155, 188, 0.5);
}

.view-project-button:link,
.view-project-button:visited {
    text-decoration: none;
    color: white;
}

.section-title {
    text-align: center;
    margin-top: 400px;
}

.section-item {
    padding-top: 250px;
    padding-bottom: 250px;

    max-width: 600px;
}

.section-paragraph {
    padding: 10px;
}

.bottom-paragraph {
    margin-bottom: 30px;
}

.section-item-title {
    padding-bottom: 10px;
    font-size: 35px;
    letter-spacing: 2px;
}

.subtitle-extra-info {
    padding-bottom: 10px;
}

.section-text-section {
    text-align: start;
}

hr {
    margin-top: 20px;
    margin-bottom: 150px;
}

.bubble-section-hr {
    margin-bottom: 40px;
}

.bubble-items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills {
    padding-bottom: 200px;
}

.bubble-item {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 20px;
    background-color: var(--soft-blue);
    border-radius: 100px;
}

#quicken-logo-image {
    width: 20px;
}